[include]
    path = ~/.gitconfig.local
[alias]
    graph = log --graph --oneline --decorate
    tree = log --decorate --oneline --graph --all
    diffw = diff --word-diff=color
    grep = grep --color -n
    s = status -s --branch
    a = add -p
    d = diff
    t = log --decorate --oneline --graph --all -n
[color]
    ui = auto
[svn]
    rmdir = true
[merge]
    ff = false
    tool = vimdiff
[pager]
#    log = diff-highlight | less
#    show = diff-highlight | less
#    diff = diff-highlight | less

[core]
	editor = vim
	quotepath = false
